html, body {
    height: 100%;
}

body {
    font: Comfortaa;
    font-size: 25px;
    line-height: 2.0;
    color: #FFCCDC;
    background-color: #FFCCDC;
}

p {
    font-size: 20px;
}

a {
    color: #FFA500;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #FFCCDC; /* Light Pink */
    color: #000000;
}

.bg-2 {
    background-color: #FFCCDC; /* Light Pink */
    color: #000000;
}

.card {
    color: black;
    text-align: left;
    flex: 1 0 auto;
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #FFCCDC; /* Light Pink */
    color: #000000;
    font-weight: bold;
    font-size: 30px;
}

.bg-4 {
    background-color: black; /* Black */
    color: #fff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}

span1 {
    color: green;
    font-weight: bold;
}

span2 {
    color: orange;
    font-weight: bold;
}

span3 {
    color: blue;
}

span4 {
    color: purple;
}

span5 {
    color: #FFE6B6;
}

span6 {
    color: white;
}

span7 {
    font-size: 28px;
}
